
.gamer-profile-container{
    /* min-width: 108rem; */
    width: 100%;
    max-width: 100vw;
    /* max-width: 100%; */
    min-height: 100vh;
    background: linear-gradient(112.14deg, #F8F8F8 1.17%, #FFFFFF 96.84%);
    /* background: linear-gradient(112.14deg, #222222 1.17%, #222222 96.84%); */
    /* border-radius: 40px;  */
    display: grid;
    grid-template-columns: 8rem 1fr;
}
